# {{ ansible_managed }}

agentAddress {{ snmpd_agent_address | join(',') }}
master agentx

sysLocation {{ snmpd_sys_location }}
sysContact  {{ snmpd_sys_contact }}
sysDescr    {{ snmpd_sys_description }}
sysName     {{ ansible_hostname }}
engineID    {{ ansible_hostname }}

view    system_view     excluded        .iso
view    system_view     included        SNMPv2-MIB::system

view    all             excluded        .iso
view    all             included        SNMPv2-MIB::system
view    all             included        .1.3.6.1.6.3.10

{% for snmpd_line in snmpd_id_lines | default([]) %}
{{ snmpd_line }}
{% endfor %}

{% for user in snmpd_ro_users %}
rocommunity {{ user }} default -V system_view
{% endfor %}

{% for user in snmpd_rw_users %}
rwcommunity {{ user }} default -V all
{% endfor %}

{% for user in snmpd_v3_users %}
createUser {{ user.username }} {{ user.auth_algo }} {{ user.passphrase }} {{ user.priv_algo }} {{ user.passphrase }}
rwuser {{ user.username }} {{ user.mode }} -V all
{% endfor %}

{% for snmpd_additional_line in snmpd_additional_lines | default([]) %}
{{ snmpd_additional_line }}
{% endfor %}
